/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* mouse.dtsi를 가장 먼저 불러옵니다 */
#include "mouse.dtsi"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        /* [NEW] 맥 스크린샷 매크로 (Command + Shift + 3) 
         * 괄호 중첩 오류를 피하기 위해 매크로로 만들었습니다. 
         */
        mac_shot: mac_screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI &kp LSHIFT>
                , <&macro_tap &kp N3>
                , <&macro_release &kp LGUI &kp LSHIFT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /* 1. Windows <-> Mac 전환 (Space + Enter) */
        toggle_os {
            bindings = <&tog 1>;
            key-positions = <37 40>;
        };

        /* 2. Real Control 키 (Z + X) */
        combo_lctrl {
            bindings = <&kp LCTRL>;
            key-positions = <25 26>;
            timeout-ms = <50>;
        };

        double_func {
            bindings = <&kp LEFT_ALT>;
            key-positions = <38 37>;
        };

        left_shift {
            bindings = <&kp LEFT_ALT>;
            key-positions = <13 14>;
        };

        caps {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <37 40>;
        };

        for_mouse {
            bindings = <&mo 5>;
            key-positions = <29 37>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 10>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <8 9>;
        };

        change_window_key {
            bindings = <&kp LG(TAB)>;
            key-positions = <25 26 27>;
        };

        left_window_key {
            bindings = <&kp LWIN>;
            key-positions = <26 27 28>;
        };

        lclr {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <27 28 29>;
        };

        bt {
            bindings = <&mo 6>;
            key-positions = <40 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: Windows Default */
        default_layer {
            bindings = <
&none  &kp Q  &kp W  &kp E      &kp R      &kp T    &kp Y  &kp U      &kp I      &kp O    &kp P        &none
&none  &kp A  &kp S  &kp D      &kp F      &kp G    &kp H  &kp J      &kp K      &kp L    &kp SEMI     &none
&none  &kp Z  &kp X  &kp C      &kp V      &kp B    &kp N  &kp M      &kp COMMA  &kp DOT  &kp LSHIFT   &
