/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        double_func {
            bindings = <&mo 3>;
            key-positions = <38 39>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <37 40>;
        };

        windowkey {
            bindings = <&kp LEFT_WIN>;
            key-positions = <36 37>;
        };

        arlt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <40 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q  &kp W  &kp E         &kp R      &kp T    &kp Y  &kp U          &kp I       &kp O    &kp P     &kp PIPE
&kp LSHIFT  &kp A  &kp S  &kp D         &kp F      &kp G    &kp H  &kp J          &kp K       &kp L    &kp SEMI  &kp SQT
&kp LCTRL   &kp Z  &kp X  &kp C         &kp V      &kp B    &kp N  &kp M          &kp COMMA   &kp DOT  &kp FSLH  &kp NON_US_BACKSLASH
                          &kp LEFT_ALT  &kp SPACE  &mo 1    &mo 2  &kp BACKSPACE  &kp DELETE
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp N1   &kp N2     &kp N3     &kp N4            &kp N5               &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END    &none  &none
&kp LSHFT  &kp N6   &kp N7     &kp N8     &kp N9            &kp N0               &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &none  &none
&kp LCTRL  &kp ESC  &kp GRAVE  &kp TILDE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp MINUS      &kp PLUS        &kp EQUAL       &none      &none  &none
                               &trans     &trans            &mo 1                &mo 2          &trans          &trans
            >;
        };

        layer_2 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp F1      &kp F2     &kp F3     &kp F4   &kp F5     &kp ENTER  &mkp MB1  &kp PAGE_UP    &mkp MB2  &mkp MB3  &none
&kp LSHFT  &kp F6      &kp F7     &kp F8     &kp F9   &kp F10    &none      &kp HOME  &kp PAGE_DOWN  &kp END   &none     &none
&kp LCTRL  &kp ESCAPE  &kp GRAVE  &kp TILDE  &kp F11  &kp F12    &none      &none     &none          &none     &none     &none
                                  &trans     &trans   &mo 1      &mo 2      &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4       &kp K_SCROLL_UP    &mkp MB1         &kp KP_NUMBER_8  &mkp MB2         &mkp MB3  &none
&kp LSHFT       &bt BT_PRV       &bt BT_NXT    &out OUT_TOG  &kp C_VOL_DN  &kp C_VOLUME_UP    &kp K_SCROLL_DOWN  &kp KP_NUMBER_4  &kp KP_NUMBER_2  &kp KP_NUMBER_6  &none     &none
&kp LCTRL       &kp PRINTSCREEN  &none         &none         &mkp MB4      &mkp MB5           &none              &none            &none            &none            &none     &none
                                               &none         &none         &mo 1              &mo 2              &none            &none
            >;
        };
    };
};
